// 默认值
$accentColor = #2999FE                      // 主题颜色
$textColor = #2c3e50                        // 文本颜色
$borderColor = #eaecef                      // 边框线颜色
$codeBgColor = #282c34                      // 代码块背景色
$backgroundColor = #ffffff                  // 悬浮块背景色

.home-blog .hero h1{
	color:#000000
}
.home-blog .hero .description{
	color:#000000
	font-size:1.4rem
}
.back-to-ceiling svg{
	display none
}
.message aside{
	display none
}
.message .page{
	margin-left:0px;
}
// 隐藏留言板左侧的侧边栏

.movie .reco-account,.about .reco-account,.game .reco-account{
	display:none
}
.home-blog > .hero{
	height:650px!important;
}